<div class="call">
    <div class="call-box-top">
        <form name="mailing-list" method="POST" data-netlify="true" id="mailing">
            <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email" name="emailjoin">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
        </form>
    </div>
    {% if include.show_button %}
    <div class="call-box-bottom">
        <!--        <a class="button" href="javascript:{}" onclick="handleSubmit();">Join our mailing list </a>-->

        <button class="button" type="submit">Join our mailing list</button>

    </div>
    {% endif %}
</div>
