<div class="call">
    <div class="call-box-top">
        <form name="mailing-list" method="POST" data-netlify="true" id="mailing">
            <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
        </form>
    </div>
    {% if include.show_button %}
    <div class="call-box-bottom">
        <a class="button" href="javascript:{}" onclick="document.getElementById('mailing').submit();">Join our mailing list </a>
    </div>
    {% endif %}
</div>

<script>
    document.querySelector("#mailing").addEventListener("submit", handleSubmit);

    const handleSubmit = (e) => {
        e.preventDefault()
        let myForm = document.getElementById('mailing');
        let formData = new FormData(myForm)
        let body = new URLSearchParams(formData.toString())
        console.log(body)
        // fetch('/', {
        //     method: 'POST',
        //     headers: { "Content-Type": "application/x-www-form-urlencoded" },
        //     body: new URLSearchParams(formData).toString()
        // }).then(() => console.log('Form successfully submitted')).catch((error) =>
        //     alert(error))
    }
</script>
