---
title: Open Model Project
layout: default
bodyClass: page-home
---

<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
                {% if site.homepage.show_call_box %}
                {% include call.html show_button=true %}
                {% endif %}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }}
                     class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
                     src="{{ page.intro_image | relURL }}"/>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-6 pb-3 pb-md-5">
        <div class="row justify-content-center">

            <div class="col" id="podcast">
                <table style="height: 100%">
                    <tr>
                        <td><h2>We Have A Podcast!</h2></td>
                    </tr>
                    <tr>
                        <td><p>The Open Model Project podcast is available now on your favorite podcasting app.</p></td>
                    </tr>
                    <tr style="vertical-align:bottom">
                        <td>
                            <div class="row justify-content-start">
                                <div class="col pt-2"><a target="_blank"
                                                    href="https://open.spotify.com/show/3EwRcHJJgAgzWUNDEr6FBY"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -182px 7px; height: 40px; width: 106px;">Listen
                                    on Spotify</a></div>
                                <div class="col pt-2"><a target="_blank"
                                                    href="https://www.stitcher.com/show/open-model-project"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -669px 7px; height: 40px; width: 106px;">Listen
                                    on Stitcher</a></div>
                                <div hidden class="col pt-2"><a target="_blank" href="YOUR GOOGLE PODCASTS URL"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -468px 7px; height: 40px; width: 172px;">Listen
                                    on Google Podcasts</a></div>
                                <div class="col pt-2">
                                    <a target="_blank" href="https://podcasts.apple.com/us/podcast/open-model-project/id1547340798" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: 10px 7px; height: 40px; width: 162px;">Listen on Apple Podcasts</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <hr style="border-width:6px !important;">
            </div>
        </div>
    </div>
</div>


<div class="strip" id="prediction-statics">
    <div class="container pt-3 pb-2">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <h1>OMP v1.1: Georgia Senate Runoffs</h1>
                <p>Read our postmortem <a href="/postmortem">here</a>.</p>
                <p><a href="model-archive">View our model and change the inputs.</a></p>
                <p><a href="inhouse">View the results of our Georgia resident poll.</a></p>
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <hr style="border-width:6px !important;">
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-6 pb-6 pb-md-10">
        <div class="row justify-content-start">
            {% assign serv = site.services | sort: 'weight' %}
            {% for service in serv %}
            {% if service.featured %}
            <div class="col-12 col-md-4 mb-1">
                <div class="service service-summary">
                    <div class="service-content">
                        <h2 class="service-title">
                            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
                        </h2>
                        <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="button button-primary" href="{{site.baseurl}}/features">View All Features</a>
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <hr style="border-width:6px !important;">
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-6 pb-6 pb-md-10">
        <div class="row justify-content-start">

            <div class="col-12 col-md-4 mb-1">
                <div class="service service-summary">
                    <div class="service-content">
                        <h1>
                            Like our work?
                        </h1>
                        <a href="https://www.patreon.com/openmodel">Support us on Patreon.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
        <div class="row justify-content-center">

            {% for feature in site.data.features %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature">
                    {% if feature.image %}
                    <div class="feature-image"><img alt="{{ feature.title }} logo"
                                                    src="{{ feature.image | relative_url }}"/></div>
                    {% endif %}
                    <h2 class="feature-title">{{ feature.title }}</h2>
                    <div class="feature-content">{{ feature.description }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
