---
title: Open Model Project
layout: default
bodyClass: page-home
---
<script src="assets/js/model-switcher.js"></script>

<a href="/live">
    <div class="pt-2 p-1">
        <div class="strip">
            <div class="container strip-primary">
                <div class="row justify-content-between align-items-center">
                    <div class="col-11">
                        <h2 style="color: white">Read, watch, and listen to our live Georgia updates</h2>
                    </div>
                    <div class="col">
                        <h2 style="color: white">&#8594;</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>


<div class="intro">
    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
                {{ content }}
                {% if site.homepage.show_call_box %}
                {% include call.html show_button=true %}
                {% endif %}
            </div>
            {% if page.intro_image %}
            <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
                <img alt={{ page.title }}
                     class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
                     src="{{ page.intro_image | relURL }}"/>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-6 pb-3 pb-md-5">
        <div class="row justify-content-center">
            <div class="col border-right mb-4 mb-md-0" style="border-width: 3px !important;">
                <table style="height: 100%">
                    <tr>
                        <td><h2>We conducted a poll of 1405 Georgia residents</h2></td>
                    </tr>
                    <tr style="vertical-align: top">
                        <td><p><a href="/ga-poll-runoff-method">Read our methodology here.</a> View all the results and
                            change the
                            assumptions.</p></td>
                    </tr>
                    <tr style="vertical-align:bottom">
                        <td><a class="button button-primary" href="/inhouse">View All Results and Change Assumptions</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col">
                <table style="height: 100%">
                    <tr>
                        <td><h2>We Have A Podcast!</h2></td>
                    </tr>
                    <tr>
                        <td><p>The Open Model Project podcast is available now on your favorite podcasting app.</p></td>
                    </tr>
                    <tr style="vertical-align:bottom">
                        <td>
                            <div class="row justify-content-start">
                                <div class="col pt-2"><a target="_blank"
                                                    href="https://open.spotify.com/show/3EwRcHJJgAgzWUNDEr6FBY"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -182px 7px; height: 40px; width: 106px;">Listen
                                    on Spotify</a></div>
                                <div class="col pt-2"><a target="_blank"
                                                    href="https://www.stitcher.com/show/open-model-project"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -669px 7px; height: 40px; width: 106px;">Listen
                                    on Stitcher</a></div>
                                <div hidden class="col pt-2"><a target="_blank" href="YOUR GOOGLE PODCASTS URL"
                                                    style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: -468px 7px; height: 40px; width: 172px;">Listen
                                    on Google Podcasts</a></div>
                                <div class="col pt-2">
                                    <a target="_blank" href="https://podcasts.apple.com/us/podcast/open-model-project/id1547340798" style="display: block; background-color: #000000; background-image: url(https://assets.buzzsprout.com/assets/public_players/listen_on-109d5ef29be389e41e77dd2c26ae2ab0a9cc72a6703624602ab41d9387a85924.svg); background-repeat: no-repeat; background-size: 1350px 28px; border-radius: 5px; text-indent: -9000px; background-position: 10px 7px; height: 40px; width: 162px;">Listen on Apple Podcasts</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <hr style="border-width:6px !important;">
            </div>
        </div>
    </div>
</div>


<div class="strip" id="prediction-statics">
    <div class="container pt-3 pb-3 pb-md-5">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <h1>Our model: accessible, flexible and open source</h1>
                <p>See how the Georgia Senate runoff forecast changes in real-time when you adjust the assumptions and
                    <a href="Modeling the Georgia Senate Runoff Elections - Model Methodology.pdf"> read our
                        methodology</a>.</p>
                <p><i id="last-updated"></i></p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <h1>
                    <noscript>Enable Javascript change inputs!</noscript>
                </h1>
                <form>
                    <h3><i>Tweak the model assumptions...</i></h3>
                    <div class="form-check">
                        <input class="form-check-input model-switcher" type="checkbox" value="" id="covid">
                        <label class="form-check-label" for="covid">
                            Include COVID-19 Adjustment
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input model-switcher" type="checkbox" value='' id="market" checked>
                        <label class="form-check-label" for="market">
                            Include prediction markets
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input model-switcher" type="checkbox" value='' id="prior" checked>
                        <label class="form-check-label" for="prior">
                            Include the election as a prior
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="average">Use...</label>
                        <select class="form-control model-switcher" id="average">
                            <option>Weighted Average</option>
                            <option>Simple Average</option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="col">
                {% assign pred = site.predictions | sort: 'weight' %}
                {% for prediction in pred %}
                {% if prediction.featured %}
                <div class="row justify-content-center">
                    <div class="col prediction prediction-summary">
                        <div class="prediction-content">
                            <h1 class="prediction-number" id="{{prediction.title}}">
                                {{ prediction.data }}
                            </h1>
                            <h2 class="prediction-title">
                                {{ prediction.content | markdownify | strip_html | truncate: 100 }}
                            </h2>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}


                <div class="row justify-content-start">
                    {% for prediction in pred %}
                    {% if prediction.featured == nil %}
                    <div class="col">
                        <div class="prediction prediction-summary">
                            <div class="prediction-content">
                                <h2 class="prediction-number" id="{{prediction.title}}">
                                    {{ prediction.data }}
                                </h2>
                                <p class="prediction-title">{{ prediction.content | markdownify | strip_html | truncate:
                                    100
                                    }}</p>
                                <p class="prediction-mov" id="{{prediction.title}}-mov">
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>


        <!--button-->
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="button button-primary"
                   href="https://docs.google.com/spreadsheets/d/1BM-HSoegMc6gxu56LCNnpIlm_b6jlDEtztiQ4EF5jy4/copy">
                    Access All Variables</a>
            </div>
        </div>
    </div>
</div>


<div class="strip">
    <div class="container pt-6 pb-6 pb-md-10">
        <div class="row justify-content-start">
            {% assign serv = site.services | sort: 'weight' %}
            {% for service in serv %}
            {% if service.featured %}
            <div class="col-12 col-md-4 mb-1">
                <div class="service service-summary">
                    <div class="service-content">
                        <h2 class="service-title">
                            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
                        </h2>
                        <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="button button-primary" href="{{site.baseurl}}/features">View All Features</a>
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col">
                <hr style="border-width:6px !important;">
            </div>
        </div>
    </div>
</div>

<div class="strip">
    <div class="container pt-6 pb-6 pb-md-10">
        <div class="row justify-content-start">

            <div class="col-12 col-md-4 mb-1">
                <div class="service service-summary">
                    <div class="service-content">
                        <h1>
                            Like our work?
                        </h1>
                        <a href="https://www.patreon.com/openmodel">Support us on Patreon.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
    <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
        <div class="row justify-content-center">

            {% for feature in site.data.features %}
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <div class="feature">
                    {% if feature.image %}
                    <div class="feature-image"><img alt="{{ feature.title }} logo"
                                                    src="{{ feature.image | relative_url }}"/></div>
                    {% endif %}
                    <h2 class="feature-title">{{ feature.title }}</h2>
                    <div class="feature-content">{{ feature.description }}</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endif %}
