---
layout: default
---
<script src="/assets/js/poll-switcher.js"></script>

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                <div class="content">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    <div class="strip" id="prediction-statics">
        <div class="container pt-3 pb-3 pb-md-5">
            <div class="row align-items-center justify-content-start">
                <!--INPUTS:-->
                <div class="col">
                    <form oninput="handleChange()">
                        <h2>Change the weighting method</h2>
                        <p>Polls are weighted to ensure that they are representative but this weighting can be
                            subjective. "Traditional thinking" involves weighting for factors like age, race, and
                            gender. Recent political science research indicates that also adjusting for things like
                            Facebook usage, social trust, and views on the bible can lead to more accurate results.
                            Change the weighting method and see how the margins change!</p>

                        <div class="form-group">
                            <label for="weighting">Use...</label>
                            <select class="form-control model-switcher" id="weighting">
                                <option>Experimental weighting</option>
                                <option>Traditional weighting</option>
                            </select>
                        </div>

                        <h3>Likely/registered voters</h3>
                        <p>To create a view of what will happen on election day, it is important to only sample those
                            who vote. However, many people ineligible to vote and eligible voters who end up deciding
                            not
                            to vote still show up in our survey sample. To resolve this, we create a probabilistic
                            likely
                            voter model and weigh our results accordingly.</p>
                        <p>Our likely voter model is based on the Perry-Gallup index outlined in <a
                                href="https://www.pewresearch.org/methods/2016/01/07/measuring-the-likelihood-to-vote/">Pew
                            2016</a>. You can read more about how it works <a href="/polling-method">here</a>.</p>

                        <div class="form-group">
                            <label for="weighting">Use...</label>
                            <select class="form-control model-switcher" id="likely">
                                <option>Likely voters</option>
                                <option>Registered voters</option>
                            </select>
                        </div>
                    </form>

                </div>

                <!--OUTPUTS:-->
                <div class="col">
                    <div class="prediction prediction-summary">
                        <div class="prediction-content">
                            <h2 class="prediction-number" id="regular-headline"><noscript>Enable Javascript to view results</noscript></h2>
                            <h3 class="prediction-margin" id="regular-margin"></h3>
                            <p class="prediction-title">Georgia Regular Election Findings</p>
                        </div>
                    </div>
                    <div class="prediction prediction-summary">
                        <div class="prediction-content">
                            <h2 class="prediction-number" id="special-headline"><noscript>Enable Javascript to view results</noscript></h2>
                            <h3 class="prediction-margin" id="special-margin"></h3>
                            <p class="prediction-title">Georgia Special Election Findings</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <!--button-->
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="button button-primary"
                   href="">
                    <!--todo link-->
                    Download the complete findings</a>
            </div>
        </div>
    </div>
</div>

